/*Kelly Shannon*/

*{ margin:0; padding:0;}

body{ 
border: dashed pink 3px;
padding: 10px;
margin:10px;}

main{border: dashed black 3px;
padding: 5px;
 width: auto; 
 height: auto;
 margin-right:40px;}

h1{ border: dashed black 2px;
	padding: 10px;
	margin: 10px;}

p{border: dashed blue 2px;
	padding: 15px;
	height: 40px;
	margin: 10px;}











