/*Kelly Shannon*/
/*Girls Develop It*/
/*April 24, 2018*/



/* .float1 {float;}
*/

.float2{float: right;}


h1{ text-align: left; text-decoration: underline; font-size: 25pt; color: black; font-family: Cursive, Helvetica;}

body{ background-color: pink;}

a:hover {color:fuchsia;}
a:link {color:blue;}

h2{ text-align: left; text-decoration: underline; font-size: 20pt; color: black; font-family: 

Cursive, Helvetica;}

header{ text-align: center; background-color: indianred;}

footer { vertical-align: center;}

class